# ==============================
# Environnements virtuels
# ==============================
.venv/
.venv_dataprep/

# ==============================
# Python
# ==============================
__pycache__/
*.pyc

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Windows
# ==============================
Thumbs.db
Desktop.ini

# ==============================
# VS Code
# ==============================
.vscode/