# Challenge 5

# ==========================
# Environnement virtuel
# ==========================

.venv/

# ==========================
# Cache Python
# ==========================

__pycache__/
*.pyc

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Notebook
# ==========================

.ipynb_checkpoints/

# ==========================
# Données générées
# ==========================

notes_brutes.csv
profil_edustat.csv

# ==========================
# Fichiers système
# ==========================

.DS_Store
Thumbs.db